<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <Button class="btn btn-dark" (click)="goToProducts()">Products</Button>
                </li>
                <li class="nav-item">
                    <Button class="btn btn-dark" (click)="goToMyCar()">My car</Button>
                </li>
                <div *ngIf="user.userAdmin">
                    <li class="nav-item">
                        <Button class="btn btn-dark" (click)="goToCrudProduct()">Crud products</Button>
                    </li>
                </div>
            </ul>
        </div>
        <div class="form-inline my-2 my-lg-0">
            <li class="nav-item">
                <Button class="btn btn-dark" (click)="goToPaymentList()">My payments</Button>
                <Button class="btn btn-dark" (click)="goToPay()">Purchase</Button>
            </li>
        </div>
    </nav>
</div>

<div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Payment id</th>
                <th scope="col">Payment Date</th>
                <th scope="col">Payment Status</th>
                <th scope="col">Order id</th>
                <th scope="col">Total amount</th>
                <th scope="col">Refund</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of payments; let i = index">
                <th>{{row.paymentId}}</th>
                <td>{{row.paymentDate}}</td>
                <td>{{row.paymentStatus}}</td>
                <td>{{row.paymentOrderId}}</td>
                <td>{{row.totalAmount}}</td>
                <div *ngIf="row.paymentStatus== 'APPROVED' ">
                    <td> <button class="btn btn-primary" (click)="refund(i,row)" >REFUND</button> </td>
                </div>
            </tr>
        </tbody>
    </table>
</div>