<form #updateproductform="ngForm" (ngSubmit)="updateProduct()">
  <div class="container">
    <div class="form-group">
      <label for="document">Name:</label>
      <H1>Id del producto: {{product.productId}}</H1>
      <input hidden name="productID" [(ngModel)]="product.productId" value="{{product.productId}}">
    </div>
    <div class="form-group">
      <label for="document">name:</label>
      <input required class="form-control" placeholder="enter the name" name="productName"
        [(ngModel)]="product.productName" value="{{product.productName}}">
    </div>
    <div class="form-group">
      <label>description:</label>
      <input class="form-control" placeholder="prouct name" name="description" [(ngModel)]="product.productDescription"
        value="{{product.productDescription}}" required>
    </div>
    <div class="form-group">
      <label>price:</label>
      <input type="number" class="form-control" placeholder="prouct prices" name="price"
        [(ngModel)]="product.productPrice" value="{{product.productPrice}}" required>
    </div>
    <div>
      <button type="submit" class="btn btn-success">Edit</button>
      <button class="btn btn-danger" (click)="cancelEdition()"> Cancel </button>
    </div>

  </div>
</form>
