<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <Button class="btn btn-dark" (click)="goToProducts()">Products</Button>
                </li>
                <li class="nav-item">
                    <Button class="btn btn-dark" (click)="goToMyCar()">My car</Button>
                </li>
                <div *ngIf="user.userAdmin">
                    <li class="nav-item">
                        <Button class="btn btn-dark" (click)="goToCrudProduct()">Crud products</Button>
                    </li>
                </div>
            </ul>
        </div>
        <div class="form-inline my-2 my-lg-0">
            <li class="nav-item">
                <Button class="btn btn-dark" (click)="goToPaymentList()">My payments</Button>
                <Button class="btn btn-dark" (click)="goToPay()">Purchase</Button>
            </li>
        </div>
    </nav>
</div>
<div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Delete from car</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of car.productsByCar; let i = index">
                <th id="{{row.productId}}" scope="row">{{row.productId}}</th>
                <td>{{row.productImage}}</td>
                <td>{{row.productName}}</td>
                <td>{{row.productDescription}}</td>
                <td>{{row.productPrice}}</td>
                <td> <button class="btn btn-danger" (click)="deleteProduct(i,car,row)">Eliminar</button> </td>
            </tr>
        </tbody>
    </table>
</div>