<form #registrationform="ngForm" (ngSubmit)="addUser()">
  <div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <div class="form-group">
      <label for="document">Name:</label>
      <input class="form-control" placeholder="name" name="name" [(ngModel)]="user.userName" required>
    </div>
    <div class="form-group">
      <label for="document">Document:</label>
      <input class="form-control" placeholder="document" name="document" [(ngModel)]="user.userDocument" required>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input required type="password" class="form-control" placeholder="Enter password" name="pwd"
        [(ngModel)]="user.userPassword">
    </div>
    <div class="form-group">
      <input type="checkbox" name="admin" [(ngModel)]="user.userAdmin"> <label for="scales"> Soy adminisrador</label>
    </div>
    <button type="submit" class="registerbtn">Register</button>
    <div class="form-group">
      <small class='danger'>{{msg}}</small>
    </div>
  </div>

  <div class="container signin">
    <p>Already have an account? <a [routerLink]="['/']">Sign in</a>.</p>
  </div>
</form>