<div class="container">
    <form #loginform="ngForm" (ngSubmit)="loginUser()" >

        <div class="form-group">
            <label for="document">Document:</label>
            <input  class="form-control" placeholder="document" name="document" [(ngModel)]="user.userDocument"  required >
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" placeholder="Enter password" name="pwd" [(ngModel)]="user.userPassword" >
        </div>
        <div class="form-group">
            <small class='danger'>{{msg}}</small>
        </div>
        <div class="row" >
                <button type="submit" class="btn btn-danger">Submit</button>
                <button [routerLink]="['/registration']" class="btn btn-success">Register</button>
        </div>
    </form>
</div>