<form #updateproductform="ngForm" >
    <div class="container">
      <div class="form-group">
          <label for="document">name:</label>
          <input required  class="form-control" placeholder="enter the name" name="productName" [(ngModel)]="product.productName" >
    </div>
    <div class="form-group">
        <label >description:</label>
        <input class="form-control" placeholder="prouct name" name="description" [(ngModel)]="product.productDescription"   required>
      </div>
      <div class="form-group">
        <label >price:</label>
        <input type="number" class="form-control" placeholder="prouct prices" name="price" [(ngModel)]="product.productPrice"  required>
      </div>
      <button type="submit" (click)="addProduct()" class="btn btn-success">Register</button>
      <button class="btn btn-danger" (click)="cancelAdding()"> Cancel </button>
    </div>
  </form>
