<form #updateproductform="ngForm">

  <div class="container">
    <h1>
      Payment information
    </h1>
    <div class="form-group">
      <label>Total:</label>
      <input class="form-control" name="totalAmount" [(ngModel)]="paymentDTO.totalAmount" value="{{car.carPrice}}" readonly  >
    </div>
    <div class="form-group">
      <label>Credit Card number:</label>
      <input class="form-control" placeholder="Number" name="creditCardNumber" [(ngModel)]="paymentDTO.creditCardNumber"
        required>
    </div>
    <div class="form-group">
      <label>security code:</label>
      <input class="form-control" placeholder="CVV" name="securityCode" [(ngModel)]="paymentDTO.securityCode" required>
    </div>
    <div class="form-group">
      <label>Expiration date YYYY/MM:</label>
      <input class="form-control" placeholder="YYYY/MM" name="expirationDate" [(ngModel)]="paymentDTO.expirationDate"
        required>
    </div>
    <div class="form-group">
      <label>Owner Name:</label>
      <input class="form-control" placeholder="Name" name="creditCardName" [(ngModel)]="paymentDTO.creditCardName"
        required>
    </div>

    <button type="submit" (click)="pay()" class="btn btn-success">Pay</button>
    <button class="btn btn-danger" (click)="backToPayment()"> Cancel </button>
  </div>
</form>